[core]
	pager = command -v delta &>/dev/null && delta || less
[init]
	defaultBranch = main
[user]
	name = reisaraujo-miguel
	email = reisaraujo.miguel@gmail.com
[credential]
        helper = !'/usr/local/bin/devpod' agent git-credentials --port 12049
